.tabel-potong{
    width: 100%;
}
.tabel-potong th, .tabel-potong td{
    padding:5px;
    border:1px solid grey;
}
.tabel-potong th{
    background: lightgrey;
}
.hahiji{
    background:#ffa500;padding:5px;border:1px solid orange;
}